@import 'variables';
body {
  margin: 0px;
  padding: 0px;
  background: $black;
  color: $white;
  font-family: $font;
  margin-top: 65px;
}

a {
  text-decoration: none;
  color: $red;
  transition: 0.3s ease-in all;

  &:hover {
    color: lighten($red , 10)
  }
}