@import 'variables';

.recipe-list {
  text-align: right;
  padding-right: 25px;
  position: relative;
  > li {
    &:first-child {
      padding-top: 0px;
    }
    display: block;
    padding: 10px 0;
  }
}

.recipe-list__name {
  font-family: $font-title;
  color: $white;
  font-size: 25px;
  margin-bottom: 5px;
}

.recipe-list__resume {
  display: inline-block;
  width: 400px;
  
  color: $dark-gray;
  font-size: 18px;
  line-height: 1.2;
}