@import 'variables';

.title {
  font-family: $font-title;
  font-size: 42px;
  margin: 60px 15px;
  text-align: center;
  font-weight: lighter;
  color: $dark-gray;
  padding: 25px;
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
}

.title__subtitle {
  margin: 0;
  text-align: right;
  color: $red;
  border: none;
  font-size: 32px;
}