@import 'variables';

.title {
  margin: 60px 15px;
  text-align: center;
  font-weight: lighter;
  color: $dark-gray;
  padding: 30px;
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
  text-transform: uppercase;
}

.title__subtitle {
  margin: 15px;
  text-align: right;
  color: $red;
  border: none;
  text-transform: capitalize;
}