<footer class="footer">
 <div>
    <h3 class="title title__subtitle title__subtitle--footer">The History Behind</h3>
    <p>This website is made with the purpose of deepen the knowledge of the framework Ruby on Rails and also a challenge to make it with the best design and user experience possibles. Hope you had enjoyed!</p>
 </div>

 <div>
    <h3 class="title title__subtitle title__subtitle--footer">Where you can find me?</h3>
    <div>
      <a href="https://github.com/rochabianca" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.behance.net/Rochabianca" target="_blank"><i class="fab fa-behance"></i></a>
      <a href="https://www.linkedin.com/in/bianca-rocha-0a6794100/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:bianca.rocha1711@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>
 </div>
</footer>
 <div>
    made with <i class="fas fa-heart"></i> by <a href="https://github.com/rochabianca">Bianca Rocha</a>
</div>