<header>
  <div>
    <%= link_to(root_path) do %>
      <%= image_tag('https://cdn1.iconfinder.com/data/icons/food-drinks-set/24/Soup-512.png', size: '30', alt: 'Logo') %>
      I Saw on The Internet
    <% end %>
  </div>
  
  <div>
    <%= link_to "New Recipe", new_recipe_path %>
  </div>
</header>